<!DOCTYPE html>
<html lang="en">
<head>
    <title>Road Trip</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script>if(location.protocol == 'http:') location.protocol = 'https:';/*Glitch Y U NO DO THIS*/</script>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="../js/app.js"></script>
    <!-- <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdK063YKCSao5XLh0B0h7oD2Ky3WmYV7w&callback=initMap">
    </script> -->
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>




    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta name="theme-color" content="#3f51b5">

    <meta name="description" content="This app will read to you about the places and points of interest you drive by.">
</head>

<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Road Trip</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="https://github.com/Shubhankardubey/RoadTrip">GitHub</a>
                <a class="mdl-navigation__link" href="#">Created by @dpbit</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Road Trip</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="https://github.com/Shubhankardubey/RoadTrip">GitHub</a>
            <a class="mdl-navigation__link" href="#">Created by @dpbit</a>
        </nav>
    </div>
    <div class="container">
        <div class="row">

        <main class="mdl-layout__content">
        <div class="page-content">
            <h3 id="html_title">This app will read to you about the places and points of interest you drive by.</h3>
            <!--<h3 id="d"><strong>The current temperature at your location is :</strong></h3>-->
            <!--<h4><div id="temp"></div><div id="minutely"></div></h4>-->
            <!--<h2 id="location"></h2>-->
            <!--<h2 id="location1"></h2>-->
            <h3>Searching for : <h4 id="location2"></h4></h3>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="displayIframe()" id="html_start">
                Search nearby Things
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="displayIframe1()" id="crime">
                Crime Statistics
            </button>
            <audio src=""class="speech" hidden></audio>
            <!--<a class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;accent" target="_blank" id="html_wiki" onclick="wiki()">-->
                <!--Wikipedia-->
            <!--</a>-->
            <hr>

                    <!--<div id="mapholder" float="right"></div>-->
                </div>

    </main>
        </div>
    </div>
    <script>
        function displayIframe() {
            document.getElementById("iframeDisplay").innerHTML = "<iframe src=\"maps.html\" name=\"targetframe\" allowTransparency=\"true\" height=\"100%\" width=\"100%\" scrolling=\"yes\" frameborder=\"0\" ></iframe>";

        }
        function displayIframe1() {
            document.getElementById("iframeDisplay").innerHTML = "<iframe src=\"crimes.html\" name=\"targetframe\" allowTransparency=\"true\" height=\"100%\" width=\"100%\" scrolling=\"yes\" frameborder=\"0\" ></iframe>";
        }

    </script>
    <div id="iframeDisplay"></div>


</div>
</body>
</html>